.env
token.txt
**/dados_brutos/
**/datasets/
**/db-seed/
**/postgres-db-volume/
**/metabase-data/
**/logs/
*.csv
*.db
fernet_key.txt
airflow/postgresql_data/
*.csv
*.parquet
minio/minio-data/
minio/minio-backup/
spark/notebooks/teste.ipynb
spark/notebooks/zoo.orc/
